<a href="https://colab.research.google.com/github/KaziUmmeKulsum/kulsumedge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
x = "John"
# is the same as
x = 3
print(x)

3

In [11]:
a = 4
A = "Sally"
print(A)

Sally

In [14]:
name = "Jui"
age = 101
#text = "Her name is {} and she is {} years old"
print(f'Her name is {name} and she is {age} years old')

Her name is Jui and she is 101 years old

In [15]:
name = "john"
age = 56
text = "His name is {} and he is {} years old"
print(text.format(name,age))

His name is john and he is 56 years old